@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark mode styles */
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.bg-light {
  background-color: #f0f0f0; /* Light background */
  color: #333; /* Light text color */
}

.dark .bg-light {
  background-color: #121212; /* Dark background */
  color: #e0e0e0; /* Dark text color */
}

.bg-dark {
  background-color: #1f1f1f; /* Dark background for other elements */
}